*{
    margin: 0;
    padding: 0;
}
#container1{
    background-color: black;
    width: 100%;
    height: 900px;
    color: white;
}

/* header part */
#header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;

}
.part{
    margin: 100px;
    display: flex;
    font-family: "Onest", sans-serif;
    font-weight: bolder;
}
.left{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}
.right{
    margin: 10px;
    font-weight: lighter;
    color: rgb(145, 143, 143);
    cursor: pointer;
}

.right button{
    padding: 5px;
    height: 100%;
    width: 50px;
    border: 1px solid #805d80;
    font-weight: bold;
    color: #805d80;
    cursor: pointer;
}

.right button:hover{
    background-color: #181818;
    color: white;
    
}

/* second part */
#header2{
    display: flex;
    height: 70%;
    margin: 80px 0px;
}
#left2{
    height: 100%;
    width: 50%;
    margin: 2;
}
#right2{
    margin: auto 0px;
    height: 100%;
    width: 50%;
    background-image: url(./images/tocken_pic1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#para1{
    font-size: 60px;
    font-weight: bolder;
    padding: 80px 90px 0px;
    font-family: "Onest", sans-serif;
}
#para2{
    font-size: 16px;
    padding: 10px 90px;
}
#para3{
    display: flex;
    justify-content: flex-start;
    margin: 30px 90px;
}
.firstbutton{
    margin: 10px 10px 10px 0px;
    width: 190px;
    height: 60px;
    color: grey;
    font-weight: bolder;
    border: 1px solid #805d80;
    
}

.firstbutton:hover{
    cursor: pointer;
    color: white;
    background-color: #181818;
}

/* third parts */

#header3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 24px;
    margin: 0px 20px 0px 20px;
}



/* main  */
#main{
    margin: 100px 0px 0px; 
}
#main_box1{
    display: flex;
}

#box1_left{
    height: 30vh;
    width: 50%;
}
#box1_right{
    height: 30vh;
    width: 50%;

}

#p1{
    font-size: 40px;
    font-weight: bold;
    padding: 30px 10px 20px 50px;
}

#p2{
    font-size: 18px;
    color: gray;
    padding: 30px 10px 20px 50px;
}

#p3{
    color: gray;
    padding: 40px 10px 20px 50px;
}

#box1_right_box{
    font-size: 20px;
    color: gray;
    border: 2px solid rgb(117, 115, 115);
    width: 550px;
    height: 130px;
    padding: 50px 0px 0px 100px ;
}

#p4{
    padding: 10px 0px 0px 40px;
    font-size: 21px;
    color: gray;
}

#main_box2{
    margin: 100px 0px 0px;
    background-image: url(./images/tocken_pic2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    height: 936px;
}

#main_box3{
    margin: 100px 0px 200px;
    display: flex;
}

#main_box3_left{
    width: 40%;
    height: 500px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 150px 0px 0px 80px;
}
#main_box3_right{
    width: 50%;
    height: 600px;
    padding: 0px 0px 0px 80px;

}

.head{
    font-size: 45px;
    font-weight: bolder;
}

.box3_p{
    font-size: 20px;
    color: gray;
    padding: 40px 0px 0px 0px;
}

#box3_pic{
    background-image: url(./images/tocken_pic3.jpg);
    background-size: contain;
    height: 400px;
    width: 600px;
    margin: 60px 0px 10px 30px;
}

/* main box4 */
#main_box4{
    display: flex;
    background-color: rgb(47, 47, 47);
    width: 100%;
    height: 400px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.main_box4_h1{
    font-size: 23px;
    font-weight: bolder;
    padding: 20px 0px 20px;
}

.main_box4_p{
    font-size: 16px;
    color: gray;
    padding: 20px 0px 20px;
}

.main_box4_l{
    font-size: 16px;
    color: #808080;
    padding: 10px 0px 0px;
    cursor: pointer;
}

.main_box4_l:hover{
    text-decoration: underline;
    color: whitesmoke;
}

#box4_img{
    background-image: url(./images/tocken_pic4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 300px;
}

/* main box5 */

#main_box5{
    display: flex;
    margin: 150px 0px 0px;
}

#box5_left{
    width: 50%;
    height: 900px;

}
#box5_right{
    width: 50%;
    height: 900px;

}


.box5_h{
    font-size: 43px;
    font-weight: bolder;
    margin: 20px 20px 30px 60px
}

.box5_p{
    font-size: 19px;
    color: gray;
    margin: 20px 20px 30px 60px
}
.box5_pb{
    font-size: 19px;
    color: gray;
    padding: 0px 0px 30px;
}

.box5_h1{
    font-size: 23px;
    color: rgb(170, 168, 168);
}

.box5_buttona{
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 19px;
    margin: 20px 20px 30px 60px
}
.box5_buttonb{
    width: 400px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 19px;
}

.box5_buttonb:hover{
    cursor: pointer;
    border: 1px solid #808080;
    color: #808080;
    background-color: white;
}
.box5_buttona:hover{
    cursor: pointer;
    border: 1px solid #808080;
    color: #808080;
    background-color: white;
}

#box5_right_a{
    height: 200px;
    width: 500px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:20px 20px 70px 100px ;


}
#box5_right_b{
    background-image: url(./images/tocken_pic5.jpg);
    height: 170px;
    width: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 20px 70px 300px;
}


#box5_right_c{
    width: 550px;
    height: 220px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px 0px;
    margin: 30px 20px 70px 100px;
}


/* mian box5 */

#main_box6{
    height: 200px;
    width: 100%;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
}